<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="ConStr" connectionString="server=.\;database=ProductDefect;uid=sa;pwd=123456"/>
    <!--<add name="ConStr" connectionString="server=SERVER\MSSQLSERVER2;database=ProductDefect;uid=sa;pwd=Kep123456"/>-->
  </connectionStrings>
  
</configuration>
